
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .name-content {
    margin-right: 7rem;
  }
  
  .name-content .logo {
    font-size: 60px;
    color: #1877f2;
    font-weight: bolder;
  }
  
  .name-content p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: 630px;
    height: 360px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }
  
  form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    border-radius: 7px !important;
    border-color: #d0cdcd !important;
    border: 1px solid;
  }
  
  form input:focus {
    border-color:  #1877f2 !important;
    box-shadow: #4696fe 0px 0px 6px !important;
  }
  
  form .login {
    outline: none;
    border: none;
    background: #1877f2;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
  }
  
  form .login:hover {
    background: #0a6cec;
    cursor: pointer;
  }
  
  form a {
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    padding-top: 0.8rem;
    color: #1877f2;
    margin-top: 12px;
  }
  
  form hr {
    background: #f7f7f7;
    margin: 1rem;
  }
  
  form .create-account {
    outline: none;
    border: none;
    background: #06b909;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    width: 75%;
    margin: 0 auto;
  }
  
  form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
  }
  
  /* //.........Media Query.........// */
  
  @media (max-width: 500px) {
    html {
      font-size: 60%;
    }
  
    .name-content {
      margin: 0;
      text-align: center;
    }
  
    form {
      width: 300px;
      height: fit-content;
    }
  
    form input {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  
    form .login {
      font-size: 1.5rem;
    }
  
    form a {
      font-size: 1.5rem;
    }
  
    form .create-account {
      font-size: 1.5rem;
    }
  
    .flex-div {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 501px) and (max-width: 768px) {
    html {
      font-size: 60%;
    }
  
    .name-content {
      margin: 0;
      text-align: center;
    }
  
    form {
      width: 300px;
      height: fit-content;
    }
  
    form input {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  
    form .login {
      font-size: 1.5rem;
    }
  
    form a {
      font-size: 1.5rem;
    }
  
    form .create-account {
      font-size: 1.5rem;
    }
  
    .flex-div {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1200px) {
    html {
      font-size: 60%;
    }
  
    .name-content {
      margin: 0;
      text-align: center;
    }
  
    form {
      width: 300px;
      height: fit-content;
    }
  
    form input {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  
    form .login {
      font-size: 1.5rem;
    }
  
    form a {
      font-size: 1.5rem;
    }
  
    form .create-account {
      font-size: 1.5rem;
    }
  
    .flex-div {
      display: flex;
      flex-direction: column;
    }
  
    @media (orientation: landscape) and (max-height: 500px) {
      .header {
        height: 90vmax;
      }
    }  
  }
  .signup-box{
width: 100%;
box-shadow: none;
height: auto;
  }
  .names{
    display: flex;
    justify-content: center;
    width: 300px;
    
    
  }

  .email{
    width: 100%;
  }
  .password{
    width: 100%;
  }
  .dob{
    font-size: 13px;
  }

  .create-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .create-btn button:hover{
    background-color: #339420 !important;
  }

  .gender-option {
    display: inline-block;
    margin-right: 20px;
}
.gender-option input{
  margin-top: 10px;
}
#signup-text{
color: #8d8b8b;
font-size: 11px;
}


#term-condition{
  color: #8d8b8b;
font-size: 11px;
}
.signup-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.signup-btn button{
  background-color: #42b72a;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
width: 50%;
padding: 10px;
border-radius: 10px;

}
.create-btn button{
  font-size:15px ;
  background-color: #42b72a;
  width: 50%;
  padding: 15px;
}

.signup-btn button:hover{
  background-color: #2e961a;
}
@media screen  and ( max-width:1024px){
  .create-btn button{
    padding: 10px !important;
    font-size: 12px !important;
    
  }
  .names{
    width: fit-content;
  }
}
@media screen and (max-width:650px) {
  .name-content p{
    font-size: 18px;
  }
  
}